*.swp
work
*.swo
ips/Qsys/soc_system
ips/Qsys/soc_system.sopcinfo
db
*.qpf
*.qsf
SoCFPGA/syn/.create_project
SoCFPGA/syn/c5_pin_model_dump.txt
SoCFPGA/syn/incremental_db
SoCFPGA/syn/hps_isw_handoff
SoCFPGA/syn/Top.srf
SoCFPGA/syn/hps_sdram_p0_summary.csv
SoCFPGA/syn/output_files
SoCFPGA/syn/syn.log


